.jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.head_jobs {
    width: 100%;
}
/*medium size*/
.job {
    width: 50%;
}

@media screen and (max-width: 450px) {
	.jobs {
		flex-direction: column;
	}
	.background {
    background: url("../img/main_image_small.jpg") center no-repeat;
}
}

@media screen and (min-width: 800px) {
	.job {
		width: 33.3%;
	}
		.background {
    background: url("../img/main_image_large.jpg") center;
}
}