.site_head {
    display: none;
}

#contact_me {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 0;
    z-index: 99;
}

/*#contact__button {
    display: none;
}*/

.hero {
    background: url(../img/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: calc(24rem - 2rem);
    padding: 2rem 1.5rem;
    color: white;
}


.portfolio {
    margin: 2rem auto;
}

.container__flex {
    display: flex;
    flex-wrap: wrap;
}

.title__flex {
    flex: 100%;
}

.portfolio__work {
    padding: 1rem;
    width: 100%;
    height: calc(24rem - 2rem);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem;
}

.portfolio__work:last-child {
    margin-bottom: 0;
}

.portfolio__title {
    margin-bottom: .5rem;
}

#work1 {
    background-color: lightgrey;
    /*background-image: url(../img/pixel_project.png);*/
}

#work2,
#work3 {
    background-color: lightgrey;
}

.skill__list {
    list-style-type: none;
}


.contact,
.skills {
    background: #333233;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.skills {
    padding: 1rem;
}

.social,
.skill__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social__button,
.skill__item {
    margin: 1.5rem;
    font-size: 2rem;
    color: #fff;
}

.button {
    background-color: #FF7F02;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    width: 18rem;
    align-self: center;
}

.footer__list {
    font-size: .8rem;
}

.footer__list--items {
    display: inline-block;
    margin-right: .5rem;
}

.footer__list--items:after {
    margin-left: .5rem;
    content: "|";
}

.footer__list--items:last-child:after {
    content: none;
}